code/rendering/app_results/*
code/simulation/conversation_history/.DS_Store
code/evaluation/results/
Uconn/videos/
code/evaluation/.env
Medical Education.xmind
code/evaluation/old_code/
.DS_Store
code/evaluation/__pycache__/
code/simulation/__pycache__/
video_demo/
__pycache__/
code/__pycache__/
Papers/
code/old/
code/simulation/conversation_history/.DS_Store




